/* a.styles-link{
    display:none;
} */
section.tf-intro{
    background-color: rgb(55, 160, 128);
    /* color: rgb(54, 164, 238); */
}
div.tf-intro-inner{
    top: 70vh;
}
h1.tf-page-title{
    font-size: 10vw;
    line-height: 0.9;
}


div.sample{
    border-top:1px solid var(--mid-gray-1);
    margin-bottom: 100px;
}
p.sample-text{
    font-size: 12vw;
    margin:-70px 0 0px 0;
    overflow-x: hidden;
    line-height: 1.3;
    position:relative;
    z-index: -1;
    box-sizing: border-box;
  }
div.sample-one p.sample-text{
    font-size: 13vw;
}
div.sample-four p.sample-text{
    font-size: 7vw;
}
div.sample-five p.sample-text{
    font-size: 5vw;
}


div.active-glyph-container{
    font-family: NMC Griffe;
}
section.glyphs-category div{
    font-family: NMC Griffe;
}

h1.tester-text{
    font-size:160px;
}