@media(max-width:1400px){
    section.index-content{
        grid-template-columns: repeat(2, 1fr);
    }
    div.index-container{
        width:50vw;
        height:50vw;
    }
}
@media(max-width:1200px){
    div.aa{
        font-size:15vw;
    }
    section.index-intro{
        width:70vw;
    }
    div.header-bg{
        height:65px;
    }
    div.tf-intro-inner p{
        font-size:14px;
    }
    div.tf-header-left, div.tf-header-right{
        font-size: 18px;
    }
    a.menu-link{
        font-size:18px;
    }
    img.bw-icon{
        max-width: 30px;
    }
    p.top-link{
        height:140px;
        width:140px;
    }
}


@media(max-width:1000px){
    div.mm-links a{
        font-size:36px;
    }
    div.tf-intro-inner{
        display: block;
    }
    div.tf-intro-right{
        width:60vw;
    }
    h1.tf-page-title{
        margin-bottom: 40px;
    }
    .select-css{
        font-size: 20px;
    }
    div.option-label{
        font-size: 20px;
    }
}


@media(max-width:900px){
        header.tf-header{
            padding: 10px 24px;
        }
        div.aa{
            font-size:35vw;
        }
        section.index-content{
            grid-template-columns: repeat(1, 1fr);
        }
        div.index-container{
            width:100vw;
            height:70vw;
        }
        div.option.change-text{
            display:none;
        }
        .bw-icon{
            display:none;
        }
        section.tf-glyphs{
            display:none;
        }
        section.tf-tester{
            display:none;
        }
        p.top-link{
            grid-column: 1/13;
            grid-row: 3;
        }
}

@media(min-width:800px){
    a.index-menu-link{
        display:none;
    }
    h1.mobile-section-header{
        display:none;
    }
}


@media(max-width:800px){
    section.intro{
        position:relative;
        opacity:1;
    }
    section.tf-styles{
        padding-top:40px;
    }
    section.mobile-alphabet{
        display:block;
    }
    img.small-arrow{
        max-height:10px;
    }
    a.header-index{
        display:none;
    }
    div.mm-links{
        display:block;
    }
      div.mm-links a{
        font-size:18px;
    }
    div.menu{
        height:100vh;
    }
    div.mm-font-inner{
        height:220px;
        width:220px;
    }
    .small-type{
        font-size: 14px;
    }
    div.header-bg{
        height:42px;
    }
    div.sections-links{
        display:none;
    }
    div.tf-intro-inner p{
        font-size:14px;
    }
    section.tf-styles{
        display:block;
    }
    div.tf-styles-left{
        width:90vw;
        font-size:7vw;
    }
    div.tf-styles-right{
        width:90vw;
        font-size:7vw;
    }
    section.tf-samples{
        padding-top:0px;
    }
    div.section-links{
        display: none;
    }
    div.tf-header-right-mobile{
        display: block;
      }
      div.divider{
          display:none;
      }
}

@media(max-width:700px){
    div.index-container{
        width:100vw;
        height:100vw;
    }
}

@media(max-width:600px){
    section.index-intro{
        width:95vw;
        font-size:22px;
        margin-top:20vh;
        line-height: 1.4;
    }
   div.tf-header-left span{
       opacity: 0.5;
   }
    div.tf-intro-right{
        display:none;
    }
    div.tf-intro-inner p{
        font-size:12px;
    }
   div.tester-options{
       display:none;
   }
   div.divider{
       max-width: 80vw;
   }
   h1.tf-page-title{
    margin-bottom: 40px;
    font-size: 20vw;
    }
    section.tf-samples{
        padding-top:0px;
        padding-bottom:40px;
    }
    div.sample{
        margin-bottom: 100px;
    }
    div.sample-options{
        padding-top:20px;
    }
    .select-css{
        font-size: 16px;
    }
    div.option label{
        font-size:16px;
        margin-top:0px;
    }
    div.option:nth-child(2){
        grid-column: 1/10;
    }
    footer{
        padding-top:40px;
    }
}