@media(max-width:1200px){
    div.tf-intro-inner p{
        font-size:14px;
    }
    div.tf-header-left, div.tf-header-right{
        font-size: 18px;
    }
    img.bw-icon{
        max-width: 30px;
    }
    p.top-link{
        height:140px;
        width:140px;
    }
}


@media(max-width:1000px){
    div.tf-intro-inner{
        display: block;
    }
    div.tf-intro-right{
        width:60vw;
    }
    h1.tf-page-title{
        margin-bottom: 40px;
    }
    .select-css{
        font-size: 20px;
    }
    div.option-label{
        font-size: 20px;
    }
}


@media(max-width:900px){
        div.option.change-text{
            display:none;
        }
        .bw-icon{
            display:none;
        }
        section.tf-glyphs{
            display:none;
        }
        section.tf-tester{
            display:none;
        }
        p.top-link{
            grid-column: 1/13;
            grid-row: 3;
        }
}


@media(max-width:800px){
    .small-type{
        font-size: 12px;
    }
    div.header-bg{
        height:42px;
    }
    div.sections-links{
        display:none;
    }
    div.tf-intro-inner p{
        font-size:14px;
    }
    section.tf-styles{
        display:block;
    }
    div.tf-styles-left{
        width:90vw;
        font-size:7vw;
    }
    div.tf-styles-right{
        width:90vw;
        font-size:7vw;
    }
    div.tf-header-left{
        display: none;
    }
    div.tf-header-right{
        display:none;
    }
    div.tf-header-right-mobile{
        display: block;
      }
      div.divider{
          display:none;
      }
}


@media(max-width:600px){
   :root{
       --padding: 10px 10px;
   }
   div.tf-header-left span{
       opacity: 0.5;
   }
    div.tf-intro-right{
        width:80vw;
    }
    div.tf-intro-inner p{
        font-size:12px;
    }
   div.tester-options{
       display:none;
   }
   div.divider{
       max-width: 80vw;
   }
   h1.tf-page-title{
    margin-bottom: 40px;
    font-size: 20vw;
    }
    section.tf-samples{
        padding-top:80px;
    }
    div.sample{
        margin-bottom: 100px;
        border-top: 1px solid gray;
    }
    div.sample-options{
        padding-top:20px;
    }
    .select-css{
        font-size: 16px;
    }
    div.option label{
        font-size:16px;
        margin-top:0px;
    }
    div.option:nth-child(2){
        grid-column: 1/10;
    }

}